<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
  <meta charset="utf-8" />
  <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include 'partials/metadata.html.twig' %}

  <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}" />
  <link rel="canonical" href="{{ page.canonical(true)|e }}" />
{% endblock head %}

{% block stylesheets %}
  {% do assets.addCss('theme://node_modules/reset-css/reset.css?v=' ~ grav.theme.version, 100) %}
  {% do assets.addCss('theme://baseutil-css/build/baseutil.css?v=' ~ grav.theme.version, 99) %}
  {% do assets.addCss('theme://fonts/nimbus-sans-l-fontfacekit/web fonts/nimbussansl_regular_macroman/stylesheet.css?v=' ~ grav.theme.version, 98) %}
  {% do assets.addCss('theme://css-compiled/custom.css?v=' ~ grav.theme.version, 97) %}
{% endblock %}

{% block javascripts %}
  {% do assets.addJs('theme://node_modules/isotope-layout/dist/isotope.pkgd.min.js?v=' ~ grav.theme.version, 100) %}
  {% do assets.addJs('theme://node_modules/isotope-packery/packery-mode.pkgd.min.js?v=' ~ grav.theme.version, 99) %}
  {% do assets.addJs('theme://js/img-gallery.js?v=' ~ grav.theme.version, 98) %}
  {% do assets.addJs('theme://js/app.js?v=' ~ grav.theme.version, 97) %}
{% endblock %}

{% block assets deferred %}
  {{ assets.css()|raw }}
  {{ assets.js()|raw }}
{% endblock %}
</head>
{# Colour secondary base: 'hsl(250, 100%, 45%)' #}
{# TODO: consider making body bg colour dynamic by intervals #}
<body id="top" class="body js-body {{ page.header.body_classes|e }}" style="background-color: hsl({{ random(0, 359) }}, 100%, 95%);">
{% block header %}
  {# TODO: check class 'container' position #}
  {# TODO: add style from lg #}
  <header class="container position-fixed pt-2 top-0 start-0 w-100 z-index-1">
    <div class="row">
      <div class="col-7 col-9-sm">
        <a class="d-block fs-3 letter-spacing-lg lh-1 primary site-title text-decoration-none text-uppercase" href="{{ home_url|e }}">{{ config.site.title|e }}</a>
      </div>
      <div class="col-2 d-none-sm">
        {% block img_gallery_helper %}{% endblock %}
      </div>
      <div class="col-7 col-7-sm">
        <div class="fs-3 grey-50 letter-spacing-lg lh-1 text-end text-uppercase">
          Year <br class="d-inline-xs d-none"> — <br class="d-inline-sm d-none"> {{ page.title|e }}
        </div>
      </div>
    </div>

    {# 
      {% block header_navigation %}
        <nav>
          {% include 'partials/navigation.html.twig' %}
        </nav>
      {% endblock %}
    #}
  </header>
{% endblock %}

{% block body %}
  <main>
    {# Style utilities height offset y content by header height #}
    <div class="h-8 h-10-sm h-13-xs"></div>

    {% block content %}{% endblock %}
  </main>
{% endblock %}

{% block footer %}
  <footer class="container pb-2">
    <div class="row">
      <div class="col-16 d-flex flex-wrap justify-content-between">
        <div class="me-8">
           UX/UI design & development – <a class="primary" href="https://martonlente.com" target="_blank">Márton Lente</a>
        </div>
        <div>
          Copyright © 2024 Márton Lente – <a class="primary" href="https://github.com/martonlente/grav-theme-martonlente-photo" target="_blank">grav-theme-martonlente-photo</a> is available open-source
        </div>
      </div>
    </div>
  </footer>
{% endblock %}

{% block bottom %}
  {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
