{% extends 'partials/base.html.twig' %}


{% block content %}
  <section class="container pb-8 pt-6">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-12">
        <div class="content fs-1 lh-lg">
          {{ page.content|raw }}
        </div>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="mb-8 row">
      <div class="col-16 d-flex justify-content-end">
        <button class="bg-transparent border-0 fs-6 js-btn-change-layout">Change layout</button>
      </div>
    </div>
    <div class="position-relative">
      <ul class="js-isotope-grid list-style-none">
        {% for img in page.media.images %}
          <li class="js-isotope-grid-item mb-8 col-{{ random(4, 8) }}">
            <figure>
              {# TODO: check #}
              {# Resize img if width is larger than double display width #}
              <img alt="{% if img.meta.alt_txt %}{{ img.meta.alt_txt|e }}{% endif %}" class="d-block mb-0 w-100" src="{% if img.width > 1856 %}{{ img.resize(1856).url|e }}{% else %}{{ img.url|e }}{% endif %}">
  
              {% if img.meta.alt_txt and img.meta.date and img.meta.location %}
                {% set date_txt = img.meta.date %}
  
                {% set date_year = date_txt|slice(0, 4) %}
                {% set date_month = date_txt|slice(4, 2) %}
                {% set date_day = date_txt|slice(6, 2) %}
  
                {% set date_formatted = date_year ~ '. ' ~ date_month ~ '. ' ~ date_day ~ '.' %}
                
                <figcaption class="fs-7 mt-1">
                  <span class="grey-50">{{ date_formatted }}</span> – {{ img.meta.alt_txt|e }} – {{ img.meta.location|e }}
                </figcaption>
              {% endif %}
            </figure>
          </li>
        {% endfor %}
      </ul>
      <div class="h-100 js-isotope-grid-helper-is-loading position-absolute start-0 top-0 w-100">
        <div class="row">
          <div class="col-16 d-flex justify-content-end">
            <div class="fs-1 lh-lg">Loading...</div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
