{% extends 'partials/base.html.twig' %}


{% block content %}
  <section class="container pb-8 pt-6">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-12">
        <div class="content fs-1 fs-2-xs lh-lg">
          {{ page.content|raw }}
        </div>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="d-none-xs mb-8 row">
      <div class="col-16 d-flex justify-content-end">
        <button class="bg-transparent border-0 fs-6 js-btn-change-layout">Change layout</button>
      </div>
    </div>
    <div class="position-relative">
      <ul class="js-isotope-grid list-style-none">
        {% for img in page.media.images %}
          {% if img.width > 1856 %}
            {% set src_optimized = img.resize(1856).url|e %}
          {% else %}
            {% set src_optimized = img.url|e %}
          {% endif %}
 
          <li class="isotope-grid-item js-isotope-grid-item mb-4-xs mb-8 col-{{ random(4, 8) }}">
            <figure>
              {# TODO: check #}
              {# Resize img if width is larger than double display width #}
              <img alt="{% if img.meta.alt_txt %}{{ img.meta.alt_txt|e }}{% endif %}" class="d-block js-img-gallery-item-img mb-0 w-100" src="{{ src_optimized }}">
  
              {% if img.meta.alt_txt and img.meta.date and img.meta.location %}
                {% set date_txt = img.meta.date %}
  
                {% set date_year = date_txt|slice(0, 4) %}
                {% set date_month = date_txt|slice(4, 2) %}
                {% set date_day = date_txt|slice(6, 2) %}
  
                {% set date_formatted = date_year ~ '. ' ~ date_month ~ '. ' ~ date_day ~ '.' %}
                
                <figcaption class="fs-7 mt-1">
                  <span class="grey-50 js-img-gallery-item-txt-date">{{ date_formatted }}</span> – <span class="js-img-gallery-item-txt-content">{{ img.meta.alt_txt|e }} – {{ img.meta.location|e }}</span>
                </figcaption>
              {% endif %}
            </figure>
          </li>
        {% endfor %}
      </ul>
      <div class="h-100 js-isotope-grid-helper-is-loading position-absolute start-0 top-0 w-100">
        <div class="row">
          <div class="col-16 d-flex justify-content-end">
            <div class="fs-1 lh-lg">Loading...</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="align-items-center bg-white container d-none js-img-gallery pb-8 position-fixed start-0 pt-8 top-0 vh-100 w-100">
    <div class="h-100 row">
      {# TODO: check justify content end for imgs short #}
      <div class="align-items-center col-16 d-flex flex-column h-100 justify-content-end">
        <img class="d-block js-img-gallery-item-single-img mb-0 mh-100 mw-100 object-fit-contain" src="https://picsum.photos/1920/1080">
        <div class="position-absolute translate-top-4">
          <span class="grey-50 js-img-gallery-item-single-txt-date">2024. 02. 03.</span> – <span class="js-img-gallery-item-single-txt-content">IJ-Tower Block by Neutelings Riedijk 1 – Amsterdam, Netherlands</span>
        </div>
      </div>
    </div>
    <button class="bg-transparent border-0 fs-3 js-img-gallery-btn-prev lh-1 pb-8 pe-8 position-absolute pt-8 start-2"><</button>
    <button class="bg-transparent border-0 end-2 fs-3 js-img-gallery-btn-next lh-1 pb-8 position-absolute ps-8 pt-8">></button>
  </div>
  {% endblock %}
  
{% block img_gallery_helper %}
  <div class="d-flex d-none js-img-gallery-helper justify-content-center">
    <button class="bg-transparent border-0 fs-3 h-3 js-img-gallery-btn-close lh-1 w-100">X</button>
  </div>
{% endblock %}
